@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0%;
    margin: 0%;
}


/* User Sign Up combine */
.right_left
{
    height: 100vh;
    display: flex;
}


/* Sign Up right side */
.left
{
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.left figure
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
}
.left figure img
{
    margin: 2.5px;
}

.left figure figcaption
{
    margin: 2.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 51px;
    letter-spacing: 0.05em;
    color: #0A66C2;
}


.left .logIncard
{
    grid-row-start: 2;
    grid-row-end: 100;
    display: grid;
    place-items: center;
}

.left .logIncard .card
{
    width: max-content;
    padding: 25px;
    border-radius: 7px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-family: Montserrat;
}

.left .logIncard .card .input 
{
    width: 300px;
    height: 45px;
    position: relative;
}

.left .logIncard .card .input input
{
    width: 280px;
    height: 100%;
    border: solid 1px black;
    border-radius: 5px;
    outline: none;
    padding: 0px 10px;
    font-size: 16px;
}

.left .logIncard .card .input label
{
    position: absolute;
    top: 32%;
    left: 10px;
    transition: top 0.2s;
}

.left .logIncard .card .input :focus ~ label
{
    top: -18%;
    background-color: white;
    font-size: 13px;
    transition: top 0.2s;
}

.left .logIncard .card .links
{
    text-decoration: none;
    color: #0A66C2;
    font-weight: 600;
}

.left .logIncard .card button
{
    background-color: #0A66C2;
    color: white;
    font-size: medium;
    font-weight: 500;
    padding: 13px 0px;
    border-radius: 50px;
    outline: none;
    border: none;
}

.left .logIncard .card p
{
    text-align: center;
}






/* Sign Up left side */
.right
{
    height: 100%;
    width: 50%;
}

